body {
    background-color: #F2EBE7;
  }
  
  .containers {
    background-color: #0D2438;
    margin: 0;
    width: 100%;
  }
  
  footer {
    color: #F2EBE7;
  }
  
  h5 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
  }
  
  p {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: #666;
    padding: 0;
    margin: auto;
    margin-bottom: 2%;
  }
  
  .carousel-item img {
    border-radius: 10px; 
  }
  
  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 5px; 
  }
  
  #contenedor {
    padding-left: 5%;
    width: fit-content;
  }
  
  #logo {
    text-align: center;
    margin-left: auto;
    width: fit-content;
    padding-right: 5%;
  }
  
  #redes {
    margin: auto;
    width: fit-content;
  }
  
  #red {
    margin: 0;
    padding: 0;
  }
  
  svg {
    padding-left: 15%;
    padding-right: 15%;
  }
  